language: go
sudo: false
go:
  - tip
before_install:
  - go get github.com/mattn/goveralls
  - sudo apt-get install tree
jobs:
  include:
    - script: $GOPATH/bin/chester test --silent
    - script: $GOPATH/bin/goveralls -service=travis-ci
