language: go
sudo: false
go:
  - tip
before_install:
  - go get github.com/mattn/goveralls
  - sudo apt-get install tree
script: $GOPATH/bin/chester test --silent && $GOPATH/bin/goveralls -service=travis-ci
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux
